.box {
    min-height: 150px;
    border: 1px solid black;
}

#avatar {
    width: 200px;
}

.portfolio-img {
    width: 100%;
    border-radius: 10px;
}

.lines:after, .lines::before {
    content: "";
    width: 100px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
}

.line-w:after, .line-w::before {
    background-color: white;
}

.line-dblue:after, .line-dblue::before {
    background-color: #2C3E50;
}

.lines:after {
    margin-left: 10px;
}

.lines:before {
    margin-right: 10px;
}

.underline-input {
    border: none;
    border-bottom: 1px solid grey;
}

.box-social {
    width: 30px;
    height: 30px;
}

footer .box-social {
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
}

/* BACKGROUND COLOR */

.bg-grey {
    background-color: #2C3E50;
}

.bg-aquagreen {
    background-color: #1ABC9C;
}

.bg-lightgrey {
    background-color: #3A546D;
}

/* TEXT COLOR */

.c-white {
    color: white;
}

.c-black {
    color: black;
}

.c-dblue {
    color: #2C3E50;
}

.c-aquagreen {
    color: #1ABC9C;
}

/* FONT */

.f-size-30 {
    font-size: 30px;
}

.f-size-50 {
    font-size: 50px;
}

/* BORDER */

.b-white {
    border: 1px solid white;
}