.box {
    min-height: 150px;
    border: 1px solid black;
}

.bg-grey {
    background-color: #2C3E50;
}

.bg-aquagreen {
    background-color: #1ABC9C;
}

.bg-lightgrey {
    background-color: #3A546D;
}